body {
    background: url("sam-schooler-4824.jpg") no-repeat center fixed;
    background-size: cover;
}

#display {
    margin: 20% auto;
    font-size: 3em;
}

#cityName {
    font-weight: bold;
}

#weatherDes {
    font-style: italic;
}

img {
    margin: 0 auto;
    height: 3em;
    width: 3em;
}

.btn {
    height: auto;
    width: auto;
}

ul {
    margin-top: auto;
    color: rgb(97, 197, 255);
}